<%- include('../partials/basicheader.ejs') %>
    <main class="index-container">
      <div class="index-header">
        <h2>Dishes</h2>
      </div>
      <div class="create-login">
        <% if (session.logged) {%>
        <a href="/dishes/new">Create A New Dish</a>
        <% } else { %>
        <a href="/">Log in to add your dish!</a>
        <% } %> 
      </div>
      <div id="dish-card-container">
        <ul>
          <% for(let i = 0; i < dishes.length; i++){ %>
            <div class="dish-card">
              <li>
                <a class="dish-index-link" href="/dishes/<%=dishes[i]._id%>"><%=dishes[i].dishName%></a></br>
                <p class="dish-index-info" href="/dishes/<%=dishes[i]._id%>"><span id="dish-resto-name"><%=dishes[i].restaurant.name%></span></br></br>posted by <%=dishes[i].postedBy.username%></p>
                <a href="/dishes/<%=dishes[i]._id%>"><img class="dish-index-img" src="<%=dishes[i].dishImg%>"></a>
              </li>
            </div>
          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
