<%- include('../partials/basicheader.ejs', {pageTitle: dish.dishName}) %>
      <ul>
        <li>Find it at <%=restaurant.name%>, $<%=dish.cost%></li></br>
        <li>
          <div id="describe-dish"><%=dish.dishDescribe%></div>
        </li></br>
        <li>Posted by: <%=dish.postedBy.username%></li></br>
        <img class="show-dish-img" src="<%= dish.dishImg %>">
      </ul>
      <% if (dish.postedBy.username === session.username) { %>
        <section>
            <form action="/dishes/<%=dish._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete Dish"/>
            </form>
        </section>
        <section>
          <form action="/dishes/<%=dish._id%>/edit">
            <input type="submit" value="Edit Dish"/>
          </form>
        </section>
      <% } %>
    </main>
  </body>
</html>